/* Layout */

#ghx-column-headers {
	padding: 0;
}

#ghx-column-headers .ghx-column {
	padding: 0;
    border-bottom: 1px solid #ccc;
}

#ghx-column-headers .ghx-column .ghx-qty {
	display: none;
}

#ghx-operations {
	display: none;
}

#ghx-column-header-group {
	top: 0px !important;
}

.ghx-heading {
	padding: 0;
    margin: 0 !important;
}

.ghx-column:nth-of-type(1) {
	width: 33%;
    border-right: 1px solid #999;
}

.ghx-column:nth-of-type(2) {
	width: 33%;
}

.ghx-column:nth-of-type(2) .ghx-issue,
.ghx-column:nth-of-type(2) .ghx-issue-subtask {
	margin-bottom: 5px;
}


.ghx-column:nth-of-type(3) .ghx-flags,
.ghx-column:nth-of-type(3) .ghx-type {
	display: none;
}


.ghx-column:nth-of-type(1) .ghx-issue {
	width: 49% !important;
    clear: both;
}

.ghx-column:nth-of-type(1) .ghx-parent-group {
	clear: both;
}

.ghx-column:nth-of-type(1) .ghx-subtask-group {
	float: right;
    width: 49%;
}

.ghx-column:nth-of-type(1) .ghx-issue-subtask {
	width: 48% !important;
    height: 40px !important;
    float: left;
    clear: none;
}

.ghx-column:nth-of-type(1) .ghx-issue-subtask .ghx-key {
    display: none;
}

.ghx-column:nth-of-type(1) .ghx-issue-subtask .ghx-inner {
    margin-top: 5px;
    font-size: 75%;
}

.ghx-swimlane:last-of-type {
	border-top: 1px solid #999;
}

.ghx-swimlane:last-of-type .ghx-heading {
	display: none;
}

/* Tasks and subtasks */

.ghx-key, .ghx-inner {
	font-size: 100%;
}

.ghx-highlighted-fields {
    position: absolute;
    bottom: 5px;
    left: 5px;
	margin-top: 2px !important;
}

/* Tasks */

.ghx-issue {
    width: 100%;
    float: left;
	overflow: hidden;
    max-height: 82px;
    box-shadow: 8px 8px 15px -8px rgba(0,0,0,0.41);
}

/* Subtasks */

.ghx-issue-subtask {
    width: 100%;
    float: left;
    max-height: 50px;
    background-color: #FFFFA5;
    border: 0px solid #eee;
    margin: 1px;
    box-shadow: 8px 8px 15px -8px rgba(0,0,0,0.41);
}

.ghx-issue-subtask .ghx-issue-content {
	padding: 0 0 0 5px;
}

.ghx-issue-subtask.ghx-selected {
    background-color: #e9e9a0;
}

.ghx-issue-subtask .aui-badge {
	display: none;
}

.ghx-issue-subtask .ghx-grabber,
.ghx-issue-subtask .ghx-type,
.ghx-issue-subtask .ghx-priority,
.ghx-issue .ghx-grabber {
	display: none;
}

.ghx-columns li:nth-of-type(2) .ghx-issue-subtask .ghx-avatar-img {
    height: 80px;
	width: 60px;
}


.ghx-end {
    right: 0px !important;
    bottom: 0px !important;
}

.aui-badge {
	font-size: 20px;
    background: none;
}

/* Avatar */

.ghx-columns li .ghx-avatar-img {
	display: none;
}

.ghx-column:nth-of-type(2) .ghx-avatar-img {
	display: block;
}

.ghx-columns li:nth-of-type(2) .ghx-avatar-img {
	opacity: 1;
    position: relative;
    top: -10px;
    right: -10px;
}

.ghx-columns li:nth-of-type(2) .ghx-issue .ghx-avatar-img {
    height: 75px !important;
	width: 65px !important;
}

.ghx-columns li:nth-of-type(2) .ghx-issue-subtask  .ghx-avatar-img {
    height: 50px !important;
	width: 45px !important;
}

.ghx-columns li:nth-of-type(2)  .ghx-avatar-img {
    font-size: 36px;
	line-height: 77px;
}

